{% extends 'base.html.twig' %}

{% block title %}Panzani{% endblock %}

{% block body %}

    {% block javascripts %}
        <script src="{{asset('assets/js/countdown.js')}}"></script>
        <script src="{{asset('assets/js/slider.js')}}"></script>
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('assets/css/header.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/countdown.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/chefs.css') }}" rel="stylesheet" media="all">
        <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet" media="all">
    {% endblock %}

    <header>
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Logo_PANZANI.png" alt="Panzani logo">
        <nav class="nav">
            <a class="nav-item" href="#">Accueil</a>
            <a class="nav-item" href="https://www.panzani.fr/nos-produits">Nos Produits</a>
            <a class="nav-item" href="#">Nos Chefs</a>
            <a class="nav-item" href="https://www.panzani.fr/nos-recettes">Nos Recettes</a>
        </nav>
        <style>
            .nav-item{
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
            .nav-item:hover{
                text-decoration: underline #e6002c;
                text-decoration-thickness: 3px;
            }
        </style>
        <div class="search">
            <input class="search-input" type="text" placeholder="Rechercher...">
            <button class="search-button">Rechercher</button>
        </div>
    </header>


    <div class="main">
        <img src="{{ asset('assets/images/background.png') }}">
        <div>
            <h1>Les chefs à domiciles</h1>
            <h2>Par Panzani</h2>
            <p>
                Vous n'avez plus à vous soucier des courses ni de la cuisine, vous pouvez simplement vous détendre pendant que le chef s'occupe de tout. Il sélectionne les meilleurs ingrédients Panzani pour préparer un menu personnalisé en fonction de vos goûts et de vos préférences. Vous pouvez choisir parmi une variété de plats allant des pâtes traditionnelles aux recettes plus créatives
            </p>
            <a class="btn-discorver" href="#chefs">Découvrir</a>
        </div>
    </div>


    <div class="countdown">
        <h1>Nos chefs à domicile</h1>
        <h2>Disponible dans :</h2>
        <h3 id="countdown"></h3>
    </div>


    <div class="chefs" id="chefs">
        {% for c in chefs %}
            <div class="chef">
                <img src="{{ c.photo }}" alt="Photo">
                <h2>{{c.nom }} {{ c.prenom }}</h2>
                <ul>
                    <li class="price">{{ c.prix }} €</li>
                    <li><a class="btn-reserve" href="">Réserver</a></li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <style>
        .chef img{
            object-fit: cover;
        }
    </style>


    <div class="signupSection">
        <div class="info">
            <h2>- 10% sur votre Réservation</h2>
            <p>Profiter de 10% de réduction sur votre première réservation d'un chef à domicile.<br> Pour cela il vous suffit de remplir ce formulaire</p>
        </div>


        {{ form_start(form, {'attr': {'class': 'signupForm'}}) }}
            <h2>Je profite de l'offre !</h2>
            <ul class="noBullet">
                <li>
                    <label for="nom">{{ form_label(form.Nom) }}</label>
                    {{ form_widget(form.Nom, {'attr': {'class': 'inputFields'}}) }}
                </li>
                <li>
                    <label for="email">{{ form_label(form.Email) }}</label>
                    {{ form_widget(form.Email, {'attr': {'class': 'inputFields'}}) }}
                </li>
                <li>
                    <label for="tel">{{ form_label(form.Telephone) }}</label>
                    {{ form_widget(form.Telephone, {'attr': {'class': 'inputFields'}}) }}
                </li>
                <li>
                    <label for="age">{{ form_label(form.Age) }}</label>
                    {{ form_widget(form.Age, {'attr': {'class': 'inputFields'}}) }}
                </li>
                <li id="center-btn">
                    <button class="btn join-btn">{{ button_label|default('Obtenir') }}</button>
                </li>
            </ul>
        {{ form_end(form) }}

    </div>

    <footer>
        <img src="{{ asset('assets/images/footer.png') }}">
    </footer>
    <style>
        @import url(//db.onlinewebfonts.com/c/d5eef793c51ffd65df6fb6dd1ec86f1c?family=CreamyScript);

        .info h2{
            font-family: "CreamyScript";
            font-size: 2rem;
            font-weight: bold;
        }
        .info p{
            font-family: "CreamyScript";
            font-size: 1.5rem;
            color: #e6002c;
            margin: 0 10%;
        }
        footer img{
            width: 100%;
            padding-top: 40%;
        }
    </style>





{% endblock %}
